#main h2 {
  color: #fff;
  text-align: center;
  margin-top: 0px;
  font-weight: normal;
  letter-spacing: 1px;
  background-color: #606060;
  margin: -30px -30px 30px -30px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 20px; }
#main #infoContainer #information {
  padding-bottom: 20px;
  border: 1px solid #464646;
  background-color: #373737;
  margin-top: 10px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #fff; }
  #main #infoContainer #information .exhibit-collectionView-footer a {
    color: inherit !important;
    text-decoration: none;
    border: none;
    padding: 10px;
    background-color: #505050;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 200ms; }
    #main #infoContainer #information .exhibit-collectionView-footer a:hover {
      background-color: #5a5a5a; }
  #main #infoContainer #information .exampleContainer {
    border: 1px solid #2d2d2d;
    box-shadow: 0px 0px 2px 2px rgba(30, 30, 30, 0.2);
    margin-bottom: 20px; }
    #main #infoContainer #information .exampleContainer .example {
      height: 300px;
      background-size: cover;
      background-position: top left;
      overflow: hidden; }
      #main #infoContainer #information .exampleContainer .example img {
        height: 100%; }
    #main #infoContainer #information .exampleContainer h4 {
      background-color: #505050;
      text-align: center;
      margin: 0px;
      font-weight: normal;
      padding: 4px;
      color: #fff; }
  #main #infoContainer #information .exhibit-collectionView-header {
    display: none; }
  #main #infoContainer #information ol {
    list-style-type: none; }
  #main #infoContainer #information .exhibit-tileView-body {
    padding: 0px; }
  #main #infoContainer #information .exhibit-toolboxWidget-button {
    display: none; }
#main #infoContainer #facets {
  margin-top: 15px; }
  #main #infoContainer #facets h3 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-top: 0px;
    background-color: #505050;
    padding: 10px 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 2px rgba(30, 30, 30, 0.2); }
  #main #infoContainer #facets #search input {
    padding: 2px 6px;
    height: 26px;
    border-radius: 4px;
    background-color: #c8c8c8;
    border: 1px solid gainsboro;
    color: #333; }
  #main #infoContainer #facets .facet {
    margin-top: 10px; }
    #main #infoContainer #facets .facet#facetsFacet .exhibit-facet-body {
      background-color: #282828;
      height: 200px; }
    #main #infoContainer #facets .facet#viewsFacet .exhibit-facet-body {
      background-color: #282828;
      height: 200px; }
    #main #infoContainer #facets .facet .exhibit-facet-header-title {
      font-size: 14px;
      font-weight: normal; }
    #main #infoContainer #facets .facet .exhibit-facet-header-filterControl {
      display: none !important; }
    #main #infoContainer #facets .facet .exhibit-facet-body {
      background-color: #282828;
      border: 1px solid #555;
      border-radius: 4px; }
      #main #infoContainer #facets .facet .exhibit-facet-body .exhibit-facet-value-checkbox {
        display: none; }
      #main #infoContainer #facets .facet .exhibit-facet-body .exhibit-facet-value:hover {
        background-color: #1e1e1e; }
      #main #infoContainer #facets .facet .exhibit-facet-body .exhibit-facet-value-selected {
        font-weight: normal;
        background-color: #1e1e1e; }
      #main #infoContainer #facets .facet .exhibit-facet-body a {
        color: inherit;
        text-decoration: none; }
    #main #infoContainer #facets .facet .exhibit-resizableDivWidget-resizer {
      display: none; }

/*# sourceMappingURL=examples.css.map */
