body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #F0EFEF;
  color: #333; }

.row.no-pad {
  margin-right: 0;
  margin-left: 0; }

.row.no-pad [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

header {
  font-family: "Lucida Grande", "Tahoma", "Helvetica", "Arial", sans-serif;
  font-size: 0px; }
  header h2 {
    font-size: 30px;
    color: #444;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0px; }
    header h2 a {
      text-decoration: none;
      color: inherit; }
  header #description {
    font-size: 14px;
    display: inline-block; }
  header nav {
    margin-top: 6px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #d2d2d2;
    overflow: hidden; }
    header nav a {
      text-decoration: none;
      color: #444;
      border-right: 1px solid #aaaaaa;
      border-left: 1px solid #aaaaaa;
      padding: 10px 20px;
      font-size: 16px;
      margin-right: -1px;
      display: inline-block;
      box-sizing: border-box; }
      header nav a:hover {
        background-color: gainsboro; }
      header nav a.active {
        background-color: #e6e6e6; }
      header nav a:first-child {
        border-left: none; }
    header nav#smallNav a {
      display: block;
      border: none;
      border-bottom: 1px solid #aaaaaa; }
      header nav#smallNav a:last-child {
        border-bottom: none; }

#main {
  color: #ccc;
  border-radius: 4px; }
  #main #mapContainer {
    background-clip: border-box;
    margin-top: 10px;
    height: 402px;
    border: 1px solid #828282;
    border-bottom-color: #141414;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #3c3c3c; }
    #main #mapContainer #facets {
      background-color: #3c3c3c;
      font-family: "Lucida Grande", "Tahoma", "Helvetica", "Arial", sans-serif;
      padding: 20px 20px;
      min-height: 100%; }
      #main #mapContainer #facets input {
        padding: 2px 6px;
        height: 26px;
        width: 100%;
        border-radius: 4px;
        background-color: #f0f0f0;
        border: none; }
      #main #mapContainer #facets h1 {
        font-size: 16px;
        margin: -20px -20px 10px -20px;
        padding: 10px 20px;
        background-color: #282828;
        letter-spacing: 1px; }
      #main #mapContainer #facets h2 {
        font-size: 14px;
        font-weight: normal;
        margin: 4px 0px; }
      #main #mapContainer #facets #states {
        margin-top: 10px; }
        #main #mapContainer #facets #states .exhibit-facet-header-title {
          font-size: 14px;
          font-weight: normal; }
        #main #mapContainer #facets #states .exhibit-facet-header-filterControl {
          display: none !important; }
        #main #mapContainer #facets #states .exhibit-facet-body {
          background-color: #282828;
          height: 230px;
          border: 1px solid #555;
          border-radius: 4px; }
          #main #mapContainer #facets #states .exhibit-facet-body .exhibit-facet-value-checkbox {
            display: none; }
          #main #mapContainer #facets #states .exhibit-facet-body .exhibit-facet-value:hover {
            background-color: #1e1e1e; }
          #main #mapContainer #facets #states .exhibit-facet-body .exhibit-facet-value-selected {
            font-weight: normal;
            background-color: #1e1e1e; }
          #main #mapContainer #facets #states .exhibit-facet-body a {
            color: inherit;
            text-decoration: none; }
        #main #mapContainer #facets #states .exhibit-resizableDivWidget-resizer {
          display: none; }
  #main #map #mainImg {
    background-clip: content-box;
    background-image: url("../../files/map.png");
    height: 400px;
    box-sizing: border-box;
    background-position: top center;
    background-size: cover; }
  #main #map #mapElement {
    color: #333; }
    #main #map #mapElement .exhibit-mapView-map {
      border-top-left-radius: 4px;
      background-clip: border-box;
      border: none; }
    #main #map #mapElement .exhibit-resizableDivWidget-resizer {
      display: none; }
    #main #map #mapElement .exhibit-legendWidget {
      display: none; }
  #main #codeContainer h2 {
    color: #ddd;
    font-family: "Lucida Grande", "Tahoma", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
    background-color: #272822; }
  #main #codeContainer #mapCode {
    background-color: #272822;
    padding: 10px 30px;
    height: 270px; }
  #main #codeContainer #mapData {
    height: 270px;
    background-color: #272822;
    padding: 10px 30px; }
  #main #infoContainer #information {
    border: 1px solid #ccc;
    background-color: #eaeaea;
    padding: 30px;
    color: #333;
    font-family: "Lucida Grande", "Tahoma", "Helvetica", "Arial", sans-serif;
    line-height: 26px; }

footer {
  margin-bottom: 20px;
  background-color: #c8c8c8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 16px 30px;
  color: #444;
  font-family: "Lucida Grande", "Tahoma", "Helvetica", "Arial", sans-serif;
  font-size: 12px; }
  footer a {
    color: inherit; }

/*# sourceMappingURL=index.css.map */
